bot/schemas/bbc-world.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Lax schema for the BBC World RSS 2.0 feed: only the elements the bot
     extracts (item title/link/guid, optionally description/pubDate) are
     constrained; everything else in the feed is skipped. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel">
          <xs:complexType>
            <xs:sequence>
              <!-- lax: <item> matches its global declaration below and is
                   validated; undeclared channel children are skipped -->
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="description" type="xs:string" minOccurs="0"/>
        <xs:element name="link" type="xs:string"/>
        <xs:element name="guid">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="isPermaLink" type="xs:string"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="pubDate" type="xs:string" minOccurs="0"/>
        <!-- namespaced extras such as media:thumbnail -->
        <xs:any namespace="##other" processContents="skip"
                minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
